@import url('@mdi/font');
@import url('viewerjs/dist/viewer.css');

.viewer-canvas {
	backdrop-filter: blur(8px);
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	color-scheme: light;
	margin: 0;
	height: 100vh;
	width: 80vw;
	position: fixed;
	left: calc(50% - 40vw);
	font-size: 125%;

	--primary-bg: #ffffffcc;
	--primary-text: #000000;
	--secondary-bg: #fffffff2;
	--secondary-text: #777777;
	// --primary
	--a-color: #00bbff;
	--a-hover: #0000001a;

	--title-color: #333333;
}

/** 主要内容的样式 */
#main {
//   margin-top: 50px;
  
	height: 100%;
	overflow: auto;

	backdrop-filter: blur(10px);
	background-color: var(--primary-bg);
	color: var(--primary-text);
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	margin-bottom: 1.2rem;

	// 自定义滚动条
	@supports (scrollbar-width: auto) {
		scrollbar-color: var(--primary-bg) transparent;
		scrollbar-width: thin;
	}
	@supports selector(::-webkit-scrollbar) {
		&::-webkit-scrollbar-thumb {
			background-color: var(--primary-bg);
		}
		&::-webkit-scrollbar-track {
			background-color: transparent;
		}
		&::-webkit-scrollbar {
			width: 8px;
		}
	}
	
	&>* {
		margin-left: 8px;
	}
	& a:not([role="button"]) {
		color: var(--a-color);
	}
	// &::-webkit-scrollbar-button {display: none;} // not work

	&:not(.main) {
		height: calc(77vh + 1px);

		@media screen and (max-width: 768px) {
			height: 80vh;
		}
	}
}

// a标签样式
a:not([role="button"]):not([data-fancybox]) {
	color: var(--primary-text);
	text-decoration: none;
	position: relative;
	&::before {
		border-radius: 4px;
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background-color: var(--a-hover);
		transition: width 0.2s, background-color 0.2s;
	}
	&:hover::before {
		width: 100%;
	}
	&[target="_blank"]::after {
		// position: absolute; // 会和后面的文本重叠
		font-family: 'Material Design Icons';
		content: '\F03CC';
		margin-left: 2px;
		font-size: 1.2em;
	}
}

a[role="button"] {
	background-color: #ffa500;
	color: #fff;
	padding: 16px 32px;
	border-radius: 8px;
	font-size: 24px;
	text-decoration: none;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease;
	&:hover {
		background-color: #ff8c00;
	}
}
// 代码字体美化
code {
	font-size: 14px;
	font-family: 'Fira Code', 黑体, monospace;
}
// 图片hover效果
img:not(.fancybox-image) {
	transition: transform 0.2s;
	&:hover {
		transform: scaleY(0.9);
	}
}
// 标题样式
.title {
	font-size: 2.2rem;
	font-weight: bold;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	color: var(--title-color);
}
.subtitle {
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 14px;
	color: var(--secondary-text);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
// logo样式
// .logo {
// 	display: inline-flex;
// 	align-items: center;
// 	position: relative;
// 	&::after {
// 		position: absolute;
// 		content: '';
// 		display: block;
// 		width: 24px;
// 		height: 24px;
// 		left: -28px;
// 		background-size: contain;
// 	}
// }
// 修复.fab图标字体
.fab::before {
	font: var(--fa-font-brands);
	content: var(--fa);
}

/** vue路由器过渡 */
.fade-enter-active,
.fade-leave-active {
	transition: transform 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
	transform: translateY(100%);
}

/** 夜间主题 */
@media screen and (prefers-color-scheme: dark) {
	body {
		color-scheme: dark;

		--primary-bg: #000000cc;
		--primary-text: #ffffff;
		--secondary-bg: #000000cc;
		--secondary-text: #aaaaaa;

		--a-hover: #ffffffaa;
		
		--title-color: #dddddd;
	}
}

/** 移动端样式 */
@media screen and (max-width: 768px) {
	.title {
		font-size: 1.25em;
	}
	body {
		font-size: 100%;
		position: static;
		width: 100%;
	}
	#main {
		padding-top: 1.4em;
	}
}